* {
  font-family: '';
}

body {
  background-color: #3F3F3F;
  color: #FFEBD8;
}

link, a {
  &:link {
    color: #7FFFFF;
  }
  &:visited {
    color: #7F7FFF;
  }
  &:hover {
    color: #00CFCF;
    text-decoration: underline;
  }
}

.navbar-brand {
  color: #3F3F3F !important;
}

.nav-item {
  .nav-dark {
    color: #3F3F3F !important;
  }
  .nav-light {
    color: #FFFFFF !important;
  }
}

.breadcrumb-container {
  padding: 0px 8px;
  background-color: #F0F0F0;
  border-radius: 5px;
  link, a {
    &:link {
      color: #3F7F7F !important;
    }
    &:visited {
      color: #3F3F7F !important;
    }
    &:hover {
      color: #006666 !important;
      text-decoration: underline;
    }
  }
}

.content-list-element {
  color: #FFEBD8 !important;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.contents-container {
  background-color: #444444;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #474747;
  padding: 8px 16px;
}

.page-title{
  border-bottom: 5px solid #7cc;
  padding: 0px 8px;
}

.content-box {
  border: 1px solid #777;
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px #777;
  margin: 8px 0px;
  padding: 8px;
}
