/*  ---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---
      サイト全体のスタイル
    ---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=--- */
// 全要素
* {
  font-family: '';
}

// ボディ
body {
  background-color: #3F3F3F;
  color: #FFEBD8;
}

// リンク色
link, a {
  &:link {
    color: #7FFFFF;
  }
  &:visited {
    color: #7F7FFF;
  }
  &:hover {
    color: #00CFCF;
    text-decoration: underline;
  }
}/* ---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=--- */



/*  ---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---
      ナビゲーションのスタイル
    ---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=--- */
// ロゴ
.navbar-brand {
  color: #3F3F3F !important;
}

// 各アイテム
.nav-item {
  .nav-dark {
    color: #3F3F3F !important;
  }
  .nav-light {
    color: #FFFFFF !important;
  }
}
/* ---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=--- */



/*  ---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---
      オリジナルパーツのスタイル
    ---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=--- */
//
.content-box {
  border: 1px solid #777;
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px #777;
  margin: 8px 0px;
  padding: 8px;
}

//
.page-title {
  display: inline-block;
  border-bottom: 5px solid #7cc;
  padding: 0px 8px;
}

//
.content-title {
  display: inline-block;
  border-bottom: 5px solid #7cc;
  padding: 0px 8px;
  font-size: 1.25em;
}

//
.caption {
  font-size: 0.9em;
  color: #BFB0A2;
  margin-top: 8px;
}
/* ---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=---=--- */

